In [1]:
import pandas as pd

Import the needed datasets

In [8]:
found_vpp = pd.read_excel("found_vpp.xlsx")
found_vpp.head()

,company_name,establishment_name,city,state,naics_code,site_name,City,State,NAICs,annual_average_employees,...,total_injuries,total_poisonings,total_respiratory_conditions,total_skin_disorders,total_hearing_loss,total_other_illnesses,establishment_id,establishment_type,size,year_filing_for
0,"Marker, Inc.","marker, inc.",bellefontaine,oh,236220,"marker, inc.",bellefontaine,oh,236220.0,135,...,3,0,0,0,0,0,216207,1.0,2,2020
1,"Marker, Inc.","marker, inc.",bellefontaine,oh,236220,"marker, inc.",bellefontaine,oh,236220.0,135,...,1,0,0,0,0,0,216207,1.0,2,2021
2,"Marker, Inc.","marker, inc.",bellefontaine,oh,236220,"marker, inc.",bellefontaine,oh,236220.0,135,...,3,0,0,0,0,0,934772,1.0,2,2022
3,"Chapel Electric Co., LLC","chapel electric co., llc",dayton,oh,238210,"chapel electric co., llc",dayton,oh,238210.0,260,...,7,0,0,0,0,0,183795,1.0,2,2020
4,"Chapel Electric Co., LLC","chapel electric co., llc",dayton,oh,238210,"chapel electric co., llc",dayton,oh,238210.0,202,...,3,0,0,0,0,0,183795,1.0,2,2016

In [10]:
vpp_sites_df = pd.read_excel(
    "/home/eddy/Documents/OSHA_Injury_data_analysis/Milestone 2(revised)/Milestone 2/vpp_sites.xlsx")
vpp_sites_df.head()

,year_joined,establishment_name_vpp,city_vpp,state_vpp,company_name,establishment_name,city_merged,state_merged,naics_code,annual_average_employees,...,total_djtr_days,total_injuries,total_poisonings,total_respiratory_conditions,total_skin_disorders,total_hearing_loss,total_other_illnesses,establishment_id,year_filing_for,vpp
0,2015,shermco industries,Irving,TX,Shermco Industries,shermco industries,Irving,TX,335312,280,...,0,0,0,0,0,0,0,867794,2021,6
1,2015,southwire florence plant,Florence,AL,"Southwire Company, LLC",southwire florence plant,Florence,AL,331420,382,...,237,7,0,0,0,0,0,171044,2016,1
2,2015,southwire florence plant,Florence,AL,Southwire Company,southwire florence plant,Florence,AL,331420,300,...,92,4,0,0,0,0,0,171044,2017,2
3,2015,southwire florence plant,Florence,AL,Southwire Company. LLC,southwire florence plant,Florence,AL,331420,445,...,163,3,0,0,0,0,0,619053,2019,4
4,2018,ge healthcare,Westborough,MA,GE Healthcare,ge healthcare,Westborough,MA,333999,253,...,21,4,0,0,0,0,1,569820,2019,1

In [13]:
recertified_sites_df = pd.read_excel(
    "Milestone 2(revised)/Milestone 2/recert_results.xlsx")
recertified_sites_df.head()

,year_recertified,year_filing_for,establishment_name_recert,city_vpp,state_vpp,company_name,establishment_name,city_merged,state_merged,naics_code,...,total_dafw_days,total_djtr_days,total_injuries,total_poisonings,total_respiratory_conditions,total_skin_disorders,total_hearing_loss,total_other_illnesses,establishment_id,vpp
0,2016,2018,albemarle corporation,baton rouge,la,NaN,albemarle corporation,baton rouge,la,325199,...,0,0,0,0,0,0,0,0,257080,2
1,2022,2021,altuglas llc,Bristol,PA,Trinseo,altuglas llc,Bristol,PA,325211,...,0,42,2,0,0,0,0,0,819045,-1
2,2017,2016,american buildings company south division,Eufaula,AL,Nucor Corporation,american buildings company south division,Eufaula,AL,332311,...,0,0,0,0,0,0,0,0,99032,-1
3,2017,2017,american buildings company south division,Eufaula,AL,Nucor Corp.,american buildings company south division,Eufaula,AL,332311,...,0,50,1,0,0,0,0,0,311729,0
4,2018,2016,amvac chemical corporation,Marsing,ID,Amvac Chemical Corp,amvac chemical corporation,Marsing,ID,325320,...,0,0,0,0,0,0,0,0,144320,-2

In [11]:
common_names = found_vpp['establishment_name'].isin(
    vpp_sites_df['establishment_name_vpp'])

filtered_df = found_vpp [~common_names]

filtered_df.to_excel("filtered_file.xlsx", index=False)

In [16]:
common_names_recertified = found_vpp['establishment_name'].isin(
    recertified_sites_df['establishment_name_recert'])

filtered_df = found_vpp[~common_names_recertified]

filtered_df.to_excel("filtered_recert(recertified).xlsx", index=False)